<html>	
	<head>
		<script src="angular.js" type="text/javascript">
		</script>
		<script type="text/javascript">
			var myMod = angular.module('myMod',[]);
			myMod.controller('myCtrl', function($scope){
				 var mod={"name": "Meghal",
							"empId": "734905",
							"desig": "SE"};
				$scope.model=mod; //model is just a variable
			});
		</script>
	</head>
	<body ng-app="myMod">
		<div ng-controller="myCtrl">
			Name: <input type="text" ng-model="model.name"/></br></br>
			EmployeeId: <input type="text" ng-model="model.empId"/></br></br>
			Designation: <input type="text" ng-model="model.desig"/></br></br>
			Employee {{model.name}} with employee id {{model.empId}} is a {{model.desig}} in the company
		</div>
	</body>
</html>